*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    padding: 0px;
}

.navigation{
    padding: 15px;
    /* border: 1px solid black; */
    box-shadow: 0 0 5px rgba(64, 64, 64, 0.76);
    background-color: white;
    display: flex; /* to make the logo and the list of navigation links appear in a row */
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 50;
}
.logo{
    font-size: 18px;
    color: black;
    padding: 4px;
}
.logo-p{
    font-size: 20px;
    color: black;
    padding: 4px;
    text-align: center;
    font-family: Verdana, sans-serif;
    letter-spacing: 4px;
    word-spacing: 0px;
}

.logo:hover{
    background-color: grey;
    cursor: pointer;
}
.logo{
    font-size: 20px;
    color: black;
    padding: 4px;
}
.logo span{
    color: black;
    font-weight: 700;
    
}
.listNavigation{
    display: flex;
    padding: 8px;
    gap: 18px;
    list-style: none;
    position: sticky;
}
.listNavigation a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    letter-spacing: 4px;
}
.listNavigation a:hover{
    background-color: grey;
    cursor: pointer;
}
.HeroSection{
    padding: 20px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.HeroSection-Text{
    max-width: 600pc;
    text-align: center;


}
.HeroSection-Image {
  position: relative;
  display: inline-block; /* or block, as needed */
}

.HeroSection-Image img {
  display: block;
  width: 100%; /* or set a fixed width */
  height: auto;
}

.HeroSection-Image h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* or any contrasting color */
  margin: 0;
  padding: 15px;
  text-align: center;
  width: 100%;
  font-family: "segoe UI", Arial, sans-serif;
  font-size: 36px;
  letter-spacing: 4px;
  word-spacing: 0px;

}
.HeroSection-Image h1 b{
    background-color: rgba(0, 0, 0, 0.708);
    padding: 10px;
    font-weight: 700;
}

    
